# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: jaires-r <jaires-r@student.42barcelon      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/27 19:07:19 by jaires-r          #+#    #+#              #
#    Updated: 2025/07/27 19:13:05 by jaires-r         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.swp
*.o
rush-02
